.question
    p.question__text Задайте интересующие вопросы любым удобным способом&nbsp;&mdash; работаем по&nbsp;будням с&nbsp;09:00 по&nbsp;18:00 по&nbsp;иркутскому времени
    ul.media
        li.media__item 
            a.media__link(href="#")
                svg.media__icon.media__icon--telegram
                    use(xlink:href="img/sprite.svg#telegram")
        li.media__item 
            a.media__link(href="#")
                svg.media__icon.media__icon--whatsapp
                    use(xlink:href="img/sprite.svg#whatsapp")
        li.media__item 
            a.media__link(href="#")
                svg.media__icon.media__icon--viber
                    use(xlink:href="img/sprite.svg#viber")
        li.media__item 
            a.media__link(href="#")
                svg.media__icon.media__icon--fb
                    use(xlink:href="img/sprite.svg#fb")