.banner-top 
    background: url('../img/banner-top-bg.jpg') no-repeat center 
    background-size: cover
    text-shadow: 0 0 12px rgba(60, 61, 59, 0.25)
    color: #ffffff
    
    &__title 
        margin-right: 38px
        font-size: 28px
        font-weight: 700
        line-height: 32px
        text-transform: uppercase
        letter-spacing: 0.7px
    &__wrap 
        display: flex 
        align-items: center 
        min-height: 114px 
        padding: 10px 0
        justify-content: flex-end
    &__btn 
        box-shadow: 0 9px 54px rgba(121, 202, 42, 0.25)