.banner-top 
    background: url('../img/banner-top-bg.jpg') no-repeat center 
    background-size: cover
    text-shadow: 0 0 12px rgba(60, 61, 59, 0.25)
    color: #ffffff
    
    &__title 
        margin-right: 38px
        font-size: 28px
        font-weight: 700
        line-height: 32px
        text-transform: uppercase
        letter-spacing: 0.7px
    &__wrap 
        display: flex 
        align-items: center 
        min-height: 114px 
        padding: 10px 0
        justify-content: flex-end
    &__btn 
        box-shadow: 0 9px 54px rgba(121, 202, 42, 0.25)

.header-top 
    padding: 22px 0 20px
    background-color: #1e1e1e
    color: #fff
    &__btn 
        margin: 4px 19px

.b-icon 
    position: relative
    padding-left: 20px
    font-size: 16px
    font-weight: 300
    line-height: 24px
    letter-spacing: 0.4px
    &::before 
        content: ''
        width: 15px
        height: 15px
        position: absolute 
        top: 4px
        left: 0
    &--address::before
        background: url('../img/sprite.svg#pin') no-repeat center 
        background-size: contain
    &--phone
        padding-left: 25px
        &::before
            background: url('../img/sprite.svg#phone') no-repeat center 
            background-size: contain

.phone-link 
    text-decoration: none
    font-weight: 600
    &:hover 
        text-decoration: underline

.social 
    display: flex 
    align-items: center 
    margin-left: auto
    margin-top: 14px 
    &__item 
        display: block 
        margin-left: 15px
    &__link 
        +center
        width: 30px
        height: 30px
        background-color: #ffffff
        border-radius: 50% 
    &__icon
        width: 60%
        height: 60%

.address-text 
    max-width: 200px

.header-menu 
    position: absolute
    padding: 56px 0 10px
    width: 100%
    background: #ccc 

.logo 
    display: block
    text-decoration: none
    &__text 
        font-size: 13px
        font-weight: 300
        line-height: 15px
        letter-spacing: 0.33px  
        color: #fff 

.menu 
    display: flex 
    align-items: center
    justify-content: space-between
    font-size: 18px
    font-weight: 600
    line-height: 15px
    text-transform: uppercase
    letter-spacing: 0.45px
    color: #fff
    &__item 
        &--sep 
            width: 5px
            height: 5px
            background-color: #fff
            border-radius: 50%
            opacity: 0.2
    &__link 
        text-decoration: none
        &:hover 
            text-decoration: underline

.menu-btn
    display: none
    background-color: $mainColor
    width: 40px
    height: 30px
    margin-left: auto
    border-radius: 10px
    align-items: center 
    justify-content: center
    padding: 0
    outline: none 
    border: none
    &__icon 
        display: block
        width: 30px
        height: 3px
        background-color: #fff
        border-radius: 2px
        position: relative
        &::before, &::after 
            content: ''
            width: 30px
            height: 3px
            background-color: #fff
            position: absolute
            left: 0
            border-radius: 2px
            transition: 0.2s ease
        &::before 
            top: -6px
        &::after 
            bottom: -6px
    &.active 
        .menu-btn 
            &__icon 
                background-color: $mainColor
                &::before 
                    top: 0
                    transform: rotate(45deg)
                &::after 
                    bottom: 0
                    transform: rotate(-45deg)