section.about.block#about
    .container 
        h2 Работайте без простоев – обеспечим бесперебойную эксплуатацию лесозахватов
        p.subtitle Оказываем полный комплекс услуг, от подбора до ремонта спецтехники
        .about__row.row.row--m.row--md-reverse
            .cols.cols-7.cols-md-12
                p  Предлагаем не&nbsp;просто купить бревнозахваты на&nbsp;экскаваторы, а&nbsp;получить качественный сервис европейского уровня: подберем технику в&nbsp;соответствии с&nbsp;вашими требованиями, организуем доставку и&nbsp;при необходимости выполним монтаж. Если понадобится, поставим запчасти и&nbsp;проведем сервисное обслуживание на&nbsp;объекте.
                p Более 8&nbsp;лет на&nbsp;рынке лесопереработки&nbsp;&mdash; наша компания &laquo;Технопарк&raquo; сотрудничает напрямую с&nbsp;производителем бревнозахватов Daehan, имеет два склада спецтехники в&nbsp;России и&nbsp;собственные аттестованный сервисный центр.
            .cols.cols-5.cols-md-12
                img.about__img(src="img/video-empty.jpg")