- 
    const faq1 = [
        {
            q: 'Помогаете ли вы с выбором? ',
            a: 'Да, конечно – оставьте заявку, бесплатно подберем бревнозахват в соответствии с вашими технологическими и техническими требованиями. '
        }, {
            q: 'Сколько стоят бревнозахваты? ',
            a: 'От 3 000 000 рублей – цена зависит от модели. Купив экскаватор и бревнозахват, вы потратите около 12 000 000 рублей, а лесозаготовочная машина обошлась бы в 20 000 000 рублей. '
        }
    ]

    const faq2 = [
        {
            q: 'Возможна ли рассрочка платежа? ',
            a: 'Обсудите условия сотрудничества с личным менеджером – мы всегда готовы пойти навстречу своим клиентам.  '
        }, {
            q: 'Оформляете ли страхование груза? ',
            a: 'Да, если клиент попросит об этом – подберем транспортную компанию, которая страхует грузы. '
        }
    ]

.faq.block#faq
    .container 
        h2 Полезная информация по покупке лесозахватов на экскаваторы
        p.subtitle Ответы на популярные вопросы наших клиентов
        .faq__row.row.row--wrap.row--m             
            .cols.cols-6.cols-md-12
                each item in faq1
                    .faq__item
                        .faq__question
                            .faq__icon
                            p !{item.q}
                        .faq__answer !{item.a}
            .cols.cols-6.cols-md-12
                each item in faq2
                    .faq__item
                        .faq__question
                            .faq__icon
                            p !{item.q}
                        .faq__answer !{item.a}