.intro 
    .container
        .intro-wrap 
            h1.intro__title Высокопроизводительные надежные #[span бревнозахваты из южной кореи]
            p.intro__subtitle Гарантия на любую модель 1 год#[br] либо 1 000 моточасов
            a.intro__btn.popup(href="#callback") 
                span.intro__btn-text Оформить заявку 
                span.intro__btn-icon 
                    svg.intro__btn-icon-svg
                        use(xlink:href="img/sprite.svg#right-arrow")
            .intro__img-wrap  
                img.intro__img(src="img/intro-img.png")
