mixin product-tpl(id, title, text, video, video_cover, arrPhotos)
    include video-tpl.pug
    .row.row--m 
        .cols.cols-7.cols-md-12 
            h3 !{title}
            p !{text}
        .cols.cols-5.cols-md-12 
            +video-tpl(video_cover, video)
            
    .photos 
        each item in arrPhotos
            a.photos__link(href=item.big, data-fancybox="gallery_"+id)
                img.photos__img(src=item.small)