mixin video-tpl(cover, video, mode = '')
    .video-c
        img.video-c__img(src=cover)
        a.video-c__btn.video-link(href=video, class=mode)
            img.video-c__btn-icon(src="img/play-button.png")